<%= form_for @post, :url => "/posts/create" do |form| %>
  <div>
  <%= form.label :title %>
  <%= form.text_field :title %>
  </div>
  <div>
  <%= form.label :body %>
  <%= form.text_area :body %>
  </div>
  <div>
  <%= form.label :author_id %>
  <%= form.select :author_id, User.all.map {|u| [u.name, u.id]} %>
  </div>
  <div>
  <%= form.label :published_on %>
  <%= form.text_field :published_on %>
  </div>
  <div><%= submit_tag "Save Post"%>
<% end %>